$color-light-s: rgba(250, 250, 250, 1);
$color-dark-s: rgba(205, 205, 205, 1);
$color-primary: rgba(241, 205, 179, 1);

@mixin white-text($size, $line-height, $color: white) {
    font: {
        family: "Arial";
        weight: 400;
        size: $size;
    }
    color: $color;
    line-height: $line-height;
}

.header {
    width: (1200%/1280 * 100);
    min-height: 60px;
    margin: 60px auto;
    $this: &;

    &__grid {
        padding: 0;
        margin: 0;
        list-style: none;
        align-items: center;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr repeat(4, minmax(min-content, max-content));
        column-gap: 35px;
        .logo {
            text-decoration: none;
            &__title {
                margin: 0 {
                    bottom: 10px;
                }
                font: {
                    family: "Georgia";
                    weight: 400;
                    size: 32px;
                    line-height: 110%;
                    letter-spacing: 0.06em;
                }
                color: rgba(241, 205, 179, 1);
            }

            &__subtitle {
                margin: 0;
                @include white-text(13px, (15/13 * 100%));
                letter-spacing: 0.1em;
            }
        }

        #{$this}__link {
            text-decoration: none;
            @include white-text(15px, (15/24 * 100%), $color-dark-s);
            &_checked {
                @include white-text(15px, (24/15 * 100%), $color-light-s);
                border: {
                    bottom: solid 3px $color-primary;
                }
            }
        }
    }
}
