@import "./constants.scss";

.about {
    background: white;

    &__container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 80px 215px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 120px;
    }

    &__article {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__title {
        @include title(370px, $color-dark-l, start);
    }

    &__text {
        @include text-style($arial, 15px, 160%, $color-dark-xl);
    }

    &__figure {
        max-width: 300px;
        object-fit: cover;
    }
}
