@import "./constants.scss";

.burger {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.6);
    opacity: 1;
    transition: 0.4s linear;
    cursor: pointer;
    z-index: 1;

    &_hidden {
        visibility: hidden;
        opacity: 0;
    }

    &__container {
        width: 320px;
        height: 100vh;
        padding: 30px 10px 0;
        display: flex;
        flex-direction: column;
        background-color: $color-dark-3xl;
        list-style: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transition: 0.4s linear;

        &_hidden {
            right: -320px;
        }
    }

    &__item {
        align-self: center;
        margin-bottom: 42px;
    }

    &__link {
        text-decoration: none;
        padding-bottom: 8px;
        @include text-style($arial, 32px, 1.6, $color-dark-s);
        transition: 0.2s linear;

        &:hover {
            color: $color-light-s;
        }

        &_checked {
            color: $color-light-s;
            border: {
                bottom: solid 3px $color-primary;
            }
        }
    }
}
