@import "./constants.scss";

.burger-icon {
    display: none;
    transition: transform 0.3s linear;
    position: absolute;
    right: 53px;
    top: 48px;
    z-index: 100;

    &_active {
        transform: rotate(0.25turn) rotateX(0.5turn) translate(-2px, 5px);
        position: fixed;
    }

    &_fixed {
        position: fixed;
    }

    div {
        width: 30px;
        height: 2px;
        background-color: $color-primary;
        margin-bottom: 8px;
    }

    @media screen and (max-width: 767px) {
        display: block;
    }

    &_color_black {
        div {
            background-color: black;
        }
    }
    
}
