@import "./constants.scss";

.donation {
    $this: &;
    background: $color-light-l;

    &__container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 80px 183px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px 15px;

        @media screen and (max-width: 1200px) {
            padding: {
                left: 150px;
                right: 150px;
            }
        }

        @media screen and (max-width: 1120px) {
            padding: {
                left: 30px;
                right: 30px;
            }
        }

        @media screen and (max-width: 964px) {
            flex-direction: column-reverse;
        }

        @media screen and (max-width: 767px) {
            padding: 42px 20px;
            row-gap: 42px;
        }
    }

    &__info {
        max-width: 380px;
        min-height: 282px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            max-width: 70%;
            align-items: center;
        }

        @media screen and (max-width: 512px) {
            max-width: 280px;
        }
    }

    &__title {
        @include title(300px, $color-dark-l, start);

        @media screen and (max-width: 767px) {
            text-align: center;
        }

        @media screen and (max-width: 512px) {
            font-size: 25px;
            max-width: 220px;
        }
    }

    &__bank-info {
        @include text-style($georgia, 15px, 110%, $color-dark-l);
        letter-spacing: 0.06em;

        @media screen and (max-width: 767px) {
            text-align: center;
            max-width: 310px;
            letter-spacing: inherit;
        }
    }

    &__card {
        @include button-hover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 350px;
        height: 43px;
        background-color: $color-primary;
        border-radius: 9px;
        position: relative;

        @media screen and (max-width: 767px) {
            width: 281px;
        }
    }

    &__numbers {
        @include text-style($georgia, 20px, 115%, $color-dark-l);
        text-decoration: none;
        letter-spacing: 0.06em;
        margin-right: 15px;

        @media screen and (max-width: 767px) {
            font-size: 15px;
            line-height: 1.1;
        }

        &::before {
            position: absolute;
            content: "";
            width: 30px;
            height: 23px;
            left: 15px;
            top: 50%;
            margin-top: -11px;
            background: url(../../assets/icons/credit-card.svg) no-repeat center;
        }
    }

    &__legal {
        @include text-style($arial, 12px, 150%, $color-dark-m);

        @media screen and (max-width: 767px) {
            text-align: justify;
        }
    }

    &__figure {
        width: 505px;
        height: 261px;
        object-fit: contain;

        @media screen and (max-width: 767px) {
            width: (26000vw/320);
            height: (13500vw/320);
        }
    }
}
