@import "./constants.scss";

.footer {
    background: (
        url(../../assets/images/noise_transparent.png),
        $start-screen-gradient
    );

    &__container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 40px 40px 0;
        display: flex;
        gap: 60px;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 320px;
        flex-wrap: wrap;

        @media screen and (max-width: 1279px) {
            padding-top: 30px;
        }

        @media screen and (max-width: 1020px) {
            justify-content: center;
        }

        @media screen and (max-width: 767px) {
            padding: {
                left: 10px;
                right: 10px;
            }
            gap: 38px;
        }
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px repeat(2, 18px);
        row-gap: 40px;
        justify-items: start;
        align-items: center;

        @media screen and (max-width: 1020px) {
            grid-template-rows: 80px repeat(2, 40px);
        }

        @media screen and (max-width: 767px) {
            grid-template-rows: 60px repeat(2, 35px);
            justify-items: center;
            row-gap: 40px;
        }
    }

    &__title {
        @include title(280px, white, start);
        @media screen and (max-width: 767px) {
            font-size: 25px;
            text-align: center;
        }
    }

    &__link {
        max-width: 300px;
        display: block;
        align-items: center;
        text-decoration: none;
        @include text-style($georgia, 20px, 115%, $color-primary);
        letter-spacing: 0.06em;
        position: relative;

        @mixin icon($padding, $imageUrl) {
            padding-left: $padding;

            &::before {
                position: absolute;
                content: "";
                width: 40px;
                height: 32px;
                left: 0;
                top: 50%;
                margin-top: -16px;
                background: $imageUrl no-repeat left;
            }

            @media screen and (max-width: 767px) {
                &:last-of-type {
                    &::before {
                        left: -14px;
                    }
                }
            }
        }

        &_email {
            @include icon(60px, url(../../assets/icons/icon-email.svg));
        }

        &_phone {
            @include icon(60px, url(../../assets/icons/icon-phone.svg));

            @media screen and (max-width: 767px) {
                left: 10px;
            }
        }

        &_location {
            @include icon(42px, url(../../assets/icons/icon-marker.svg));
        }
    }

    &__photo {
        width: (30000%/1200);
        height: (31000%/1200);
        object-fit: contain;
        align-self: flex-end;

        @media screen and (max-width: 1020px) {
            width: 300px;
            height: 310px;
        }

        @media screen and (max-width: 512px) {
            width: (26000vw/320);
            height: (26900vw/320);
        }
    }
}
