@import "./constants.scss";

.help {
    $this: &;

    background: white;

    @include bg-color(white);
    &__container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 40px 100px;
    }

    &__title {
        @include title(320px, $color-dark-l, center);
    }

    &__categories {
        padding-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        gap: 55px 120px;
    }

    #{$this}__category {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #{$this}__icon {
        object-fit: contain;
    }

    #{$this}__icon-text {
        margin: 0;
        @include text-style($georgia, 20px, 115%, $color-dark-l);
        text-align: center;
        letter-spacing: 0.06em;
    }
}
