@import './constants.scss';

.not-only {
    background: url(../../assets/images/noise_transparent.png), $start-screen-gradient;
    background-repeat: repeat;
    margin-top: -180px;
    padding-top: 180px;

    &__container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 30px 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__info {
        margin-top: 163px;
        max-width: 460px;
    }
    
    &__title {
        margin: 0 {
            bottom: 42px;
        }
        max-width: 310px;
        @include text-style($georgia, 44px, 130%);
    }

    &__subtitle {
        margin-bottom: 42px;
        @include text-style($arial, 15px, 160%, $color-dark-s);
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-primary;
        text-decoration: none;
        width: 207px;
        height: 52px;
        border: none {
            radius: 100px;
        }
        @include button-hover;
        @include text-style($georgia, 17px, 130%, $color-dark-3xl);
        letter-spacing: 0.06em;
    }

    &__figure {
        width: 698px;
        height: 728px;
        object-fit: cover;
    }
}