@import './constants.scss';

.not-only {
    @include bg-color(url(/assets/images/noise_transparent.png));

    &__container {
        width: 1280px - 40px * 2;
        margin: 0 auto;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__info {
        margin-top: 163px;
        width: 460px;
    }
    
    &__title {
        margin: 0 {
            bottom: 42px;
        }
        width: 310px;
        @include text-style($georgia, 44px, 130%);
    }

    &__subtitle {
        margin: 0 {
            bottom: 42px;
        }
        @include text-style($arial, 15px, 160%, $color-dark-s);
    }

    &__button {
        background-color: $color-primary;
        text-decoration: none;
        border: none {
            radius: 100px;
        }
        @include button-hover;
        padding: 15px 45px;
        @include text-style($georgia, 17px, 130%, $color-dark-3xl);
        letter-spacing: 0.06em;
    }

    &__figure {
        width: 698px;
        height: 728px;
        object-fit: cover;
    }
}