@import "./constants.scss";

.our-friends {
    @mixin buttons-border {
        border: 2px solid $color-primary {
            radius: 100px;
        }
        background: white;
    }

    background: $color-light-l;

    $this: &;

    &__container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 80px 40px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1279px) {
            padding: {
                right: 30px;
                left: 30px;
            }
        }

        @media screen and (max-width: 767px) {
            padding: 42px 10px;
        }

        &_friends-page {

            @media screen and (max-width: 1279px) {
                padding-bottom: 76px;
            }

            @media screen and (max-width: 767px) {
                padding-bottom: 42px;
            }
        }
    }

    &__title {
        @include title(380px, $color-dark-l, center);

        @media screen and (max-width: 512px) {
            font-size: 25px;
            max-width: 300px;
        }
    }

    &__pets {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 60px 0;
        list-style: none;
        gap: 30px 40px;
        @media screen and (max-width: 1279px) {
            justify-content: center;
            padding: 30px 0 40px;
        }
        
        @media screen and (max-width: 767px) {
            padding-top: 42px;
        }
    }

    &__slider {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

        #{$this}__pets {
            flex-wrap: nowrap;
            padding: {
                left: 105px;
                right: 105px;
            }

            @media screen and (max-width: 1279px) {
                justify-content: center;
                padding: 60px 0;
            }

            @media screen and (max-width: 767px) {
                padding: 42px 0;
            }

            @media screen and (max-width: 512px) {
                padding-bottom: 114px;
            }
        }

        #{$this}__pet {
            @media screen and (max-width: 1120px) {
                &:nth-of-type(3n) {
                    display: none;
                }
            }

            @media screen and (max-width: 767px) {
                &:nth-of-type(2n) {
                    display: none;
                }
            }
        }
    }

    &__pet {
        display: grid;
        grid-template-rows: 270px 23px 52px;
        row-gap: 30px;
        justify-items: center;
        align-items: center;
        padding-bottom: 30px;
        background-color: $color-light-s;
        cursor: pointer;
        transition: 1s easy, box-shadow 0.3s linear;

        &:hover {
            box-shadow: 0 0 50px 10px rgb(102, 94, 94);

            #{$this}__pet-info {
                background-color: $color-primary-light;
            }
        }

        @media screen and (max-width: 1259px) {
            &:nth-of-type(8n) {
                display: none;
            }
            &:nth-of-type(7n) {
                display: none;
            }
        }

        @media screen and (max-width: 599px) {
            &:nth-of-type(6n) {
                display: none;
            }
            &:nth-of-type(5n) {
                display: none;
            }
            &:nth-of-type(4n) {
                display: none;
            }
        }
    }

    &__controls {
        display: grid;
        grid-template-columns: repeat(5, 52px);
        gap: 20px;

        @media screen and (max-width: 512px) {
            gap: 10px;
        }
    }

    &__slide {
        @include buttons-border;
        border-radius: 50%;
        @include button-hover;
        @include text-style($georgia, 20px, 115%, $color-dark-3xl);
        width: 52px;
        height: 52px;
        overflow: hidden;

        &_left {
            background: url(../../assets/icons/arrow-left.svg) center no-repeat;
            position: absolute;
            left: 0px;
            z-index: 1;

            @media screen and (max-width: 512px) {
                bottom: 42px;
                left: (7500vw/320);
            }

            @media screen and (max-width: 320px) {
                left: 57px;
            }
        }

        &_right {
            background: url(../../assets/icons/arrow-right.svg) center no-repeat;
            position: absolute;
            right: 0px;
            z-index: 1;

            @media screen and (max-width: 512px) {
                bottom: 42px;
                right: (7500vw/320);
            }

            @media screen and (max-width: 320px) {
                right: 57px
            }
        }

        &_number {
            pointer-events: none;
            background-color: $color-primary-light;
        }

        &_disabled {
            color: $color-dark-s;
            border: 2px solid $color-dark-s;
            pointer-events: none;
        }
    }

    &__pet-photo {
        width: 100%;
        object-fit: cover;
    }

    &__pet-name {
        @include text-style($georgia, 20px, (23/20 * 100%), $color-dark-l);
        letter-spacing: 0.06em;
    }

    &__pet-info {
        @include text-style($georgia, 17px, (130%), $color-dark-3xl);
        letter-spacing: 0.06em;
        width: 187px;
        height: 52px;
        text-align: center;
        @include buttons-border;
        transition: background-color 0.2s linear;
        cursor: pointer;
    }

    &__rest {
        background-color: $color-primary;
        border: none {
            radius: 100px;
        }
        width: 261px;
        height: 52px;
        border: none {
            radius: 100px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        @include text-style($georgia, 17px, 130%, $color-dark-3xl);
        text-decoration: none;
        letter-spacing: 0.06em;

        @include button-hover;

        @media screen and (max-width: 767px) {
            /* margin-top: 60px; */
        }

        @media screen and (max-width: 512px) {
            margin-top: 0;
        }
    }
}
