@import "./constants.scss";

.popup {
    @include backPopups;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__container {
        max-width: 900px;
        background: $color-light-s;
        display: flex;
        border-radius: 9px;
        position: relative;
        cursor: auto;

        @media screen and (max-width: 1050px) {
            max-width: 630px;
        }

        @media screen and (max-width: 767px) {
            max-width: 250px;
        }
    }

    &__photo {
        max-width: 500px;
        object-fit: contain;
        border-radius: 9px;
        height: 500px;
        align-self: center;

        @media screen and (max-width: 1050px) {
            max-width: 350px;
            height: 350px;
        }

        @media screen and (max-width: 767px) {
            display: none;
            height: 341px;
        }
    }

    &__info {
        display: flex;
        padding: 50px 20px 0 30px;
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;

        @media screen and (max-width: 1050px) {
            padding: 10px 9px 0 11px;
        }

        @media screen and (max-width: 767px) {
            padding: 10px 10px 0;
            align-items: center;
            ul {
                align-self: flex-start;
            }
        }
    }

    &__name {
        @include title(350px, black, start);
        margin-bottom: 10px;

        @media screen and (max-width: 1050px) {
            max-width: 260px;
        }

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__type {
        margin-bottom: 40px;
        @include text-style($georgia, 20px, 115%, black);
        letter-spacing: 0.06em;

        @media screen and (max-width: 1050px) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__description {
        margin-bottom: 42px;
        @include text-style($georgia, 15px, 110%, black);
        letter-spacing: 0.06em;

        @media screen and (max-width: 1050px) {
            font-size: 13px;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
            text-align: justify;
        }
    }

    &__list-item {
        margin-bottom: 11px;
        @include text-style($georgia, 15px, 110%, black);
        letter-spacing: 0.06em;
        display: grid;
        grid-template-columns: min-content min-content minmax(
                min-content,
                max-content
            );
        align-items: center;
        position: relative;

        &::before {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $color-primary;
            margin-right: 10px;
        }

        @media screen and (max-width: 1050px) {
            margin-bottom: 6px;
        }
    }

    &__property {
        font-weight: 700;
    }

    &__close-button {
        padding: 0;
        width: 52px;
        height: 52px;
        position: absolute;
        bottom: 100%;
        left: calc(100% - 10px);
        border: 2px solid $color-primary {
            radius: 100px;
        }
        background: none;
        cursor: pointer;
        transition: transform 0.2s linear, background-color 0.2s linear;

        @media screen and (max-width: 767px) {
            left: calc(100% - 22px);
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            left: calc(50% - 8px);
            border-top: 1px solid rgba(41, 41, 41, 1);
            border-right: 8px solid rgba(41, 41, 41, 1);
            border-bottom: 1px solid rgba(41, 41, 41, 1);
            border-left: 8px solid rgba(41, 41, 41, 1);
        }

        &::before {
            transform: rotate(-45deg);
        }

        &::after {
            transform: rotate(45deg);
        }

        @mixin close-hover {
            transform: scale(1.2);
            background-color: $color-primary-light;

            &::after {
                transform: rotate(405deg);
                transition: 0.5s;
            }

            &::before {
                transform: rotate(315deg);
                transition: 1s;
            }
        }

        &:hover {
            @include close-hover;
        }

        &:active {
            transform: scale(1);
            transition: 0s;
        }

        &_hover {
            @include close-hover;
        }
    }
}
